body {
    background-color: black;
}

.imageSliderContainer {
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.imageSlider {
    display: flex;
    justify-content: space-around;
}

#sliderImage {
    background-color: darkgray;
    width: 300px;
    height: 300px;
    object-fit: contain;
    animation: 2s normal forwards;
    animation-name: slideLeft;
}

@keyframes slideLeft {
    0% {
        transform: translateX(2.5%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(-2.5%);
    }
    100% {
        transform: translateX(0%); 
    }
}
.imgNav {
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    display: flex;
}
.imgNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgNavLeft, .imgNavRight {
    font-size: 150px;
    position: sticky;
}

.imgNavLeft, .imgNavRight:hover {
    cursor: pointer;
}
